<ion-tabs>
    <div class="contenedor">

        <ng-template #iniciar>
            <h3>Ingrese cantidad máxima de mediciones</h3>
            <input type="text" [(ngModel)]="medicionesMax">
            <button (click)="validacionServicio()">Iniciar Servicio</button>
        </ng-template>
        <ng-template #terminar>
            <button (click)="validacionServicio()">Terminar Servicio</button>
        </ng-template>
        <div *ngIf="!inicio;then iniciar;else terminar"></div>
    </div>


    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Mapa de Calor</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="square"></ion-icon>
            <ion-label>Config</ion-label>
        </ion-tab-button>
    </ion-tab-bar>






</ion-tabs>